body {
  background-image: url("../images/popuar-bg.jpg");
  background-size: 100%;
  background-position: center;
}
.room-card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.room-card:hover {
  transform: scale(1.02);
}
.room-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}
.room-card-body {
  text-align: center;
}
.room-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}
.room-card-text {
  color: #666;
  font-size: 0.9rem;
}
.room-card-footer {
  border-top: none;
  font-size: 1.1rem;
  background-color: transparent;
  color: #fdda0a;
  text-align: center;
  padding: 10px;
}
.room-card-footer i {
  margin-right: 4px;
}
.room-price {
  font-size: 1.1rem;
  color: #fdda0a;
  font-weight: bold;
}
.btn-room-details {
  /* width: 20%; */
  background-color: #fdda0a;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 25px;
  font-size: 0.7em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5%;
}
.info a {
  color: #fdda0a;
}
.vilas-content {
  margin: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 80px 20px; /* Adjust padding for vertical spacing */
}

.vilas-content::before {
  content: "VIEW ALL VILAS";
  position: absolute;
  font-weight: 600;
  font-size: 4rem; /* Large background text */
  color: #00000008; /* Very light color for faint background effect */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.vilas-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .vilas-content {
    padding: 60px 15px;
    margin-bottom: 30px;
  }

  .vilas-content h2 {
    font-size: 3rem;
  }

  .vilas-content::before {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .vilas-content {
    padding: 40px 10px;
    margin-bottom: 20px;
  }

  .vilas-content h2 {
    font-size: 1.9rem;
  }

  .vilas-content::before {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2.8rem;
  }
}


.filter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.filter-btn {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.filter-btn:hover {
  background-color: #fdda0a;
  color: white;
}
.filter-btn.active {
  background-color: #fdda0a;
  color: white;
}
.container {
  background-image: url("./../images/popuar-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1200px;
  margin: 0 auto;
}
